*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general setting , these style apply globally across the prpject,includes: resets,variable. */
@font-face{
    font-family: Tajawal;
    src: url(../Tajawal/Tajawal-Black.ttf);
}

:root{
    --main-color:#500d74;
    --second-color:white;
    --second-color1: #c8b3d49e;
}
.arabic{
  display: none;
}
.english{
  display: block;
}
body[lang="ar"] .arabic{display: block;}
body[lang="ar"] .english{display: none;}
body[dir="rtl"]{
  direction: rtl;
  text-align: right;

}
body[dir="ltr"]{
  direction: ltr;
  text-align:left;

}

header .container {
    background-color: white;
    border-radius: 10px;

 
}

.entertanments ,.culture,.sport,.educational{

  justify-content: center;
  align-items: center;
      background:whitesmoke;
 
}
.container .card img{
  height: 500px;
  width:350px;
  border-radius: 3px;
  
}
.entertanments .container,.culture .container,.sport .container,.educational .container{
  display: flex;
  
}
.container .card {
  
  height: 500px;
  margin: 50px;
  width:350px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
    position: relative;
}
.container .card .intro{
  height: 70px;
  width:350px;
  padding: 6px;
  position: absolute;
  bottom: 400px;
  box-sizing: border-box;
  background: rgb(27,27,27,0.5);
  color:white;
  transition: 0.5s;
  
}

.container .card .intro h2{
 
  margin: 10px;
  font-size: 35px;
 color: white;
 
}

.container .card .intro p{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  /* background-color: var(--main-color); */

}
.container .card .intro p span{
  font-weight: bold;
}
.container .card:hover{
  cursor: pointer;
}

.container .card:hover .intro{
  height: 300px;
  bottom:160px;
  background:rgba(80,13,116,0.7);
transition: 0.5s;
}
.container .card:hover p{
  opacity: 1;
  visibility: visible;
}

.container .card:hover img{
  transform: scale(1.1);
}
.container .card .intro p button{
    background-color: black;
    color:white;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px black;
  
}
.container .card .intro p button:hover{
  scale: 1.1;
}
.moving .fa-angle-up{
  color:white;
}
