*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general setting , these style apply globally across the prpject,includes: resets,variable. */
@font-face{
    font-family: Tajawal;
    src: url(../Tajawal/Tajawal-Black.ttf);
}

:root{
    --main-color:#500d74;
    --second-color:white;
    --second-color1: #c8b3d49e;
}
.arabic{
  display: none;
}
.english{
  display: block;
}
body[lang="ar"] .arabic{display: block;}
body[lang="ar"] .english{display: none;}
body[dir="rtl"]{
  direction: rtl;
  text-align: right;

}
body[dir="ltr"]{
  direction: ltr;
  text-align:left;

}

header .container {
    background-color: white;
    border-radius: 10px;

 
}

.entertanments ,.culture,.sport,.educational{

  justify-content: center;
  align-items: center;
      background:whitesmoke;
 
}
.container .card img{
  height: 500px;
  width:350px;
  border-radius: 3px;
  
}
.entertanments .container,.culture .container,.sport .container,.educational .container{
  display: flex;
  
}
.container .card {
  
  height: 500px;
  margin: 50px;
  width:350px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
    position: relative;
}
@media(max-width:768px)
{
    .container .card{
        width:92%;
        justify-content: center;
       align-items: center;
        margin: auto;
        margin-top:5px;
        margin-bottom:5px;
        
    }
    .container .card img {
        width:100%;

    }
    .container{
        
    overflow-x: hidden;
    }
    .container .card .intro p{
        font-size:auto;
        padding:15px;
    }
    .container .card .intro h2{
        font-size:auto;
        padding:10px;
    }
}
@media(max-width:480px){
    .container .card{
        width:92%;
        justify-content: center;
       align-items: center;
        margin: auto;
        margin-top:5px;
        margin-bottom:5px;
        
    }
    .container .card img {
        width:100%;

    }
    .container{
        
    overflow-x: hidden;
    }
    .container .card .intro p{
        font-size:auto;
        padding:15px;
    }
    .container .card .intro h2{
        font-size:auto;
        padding:10px;
    }
}
    
.container .card .intro{
  height: 70px;
  width:350px;
  padding: 6px;
  position: absolute;
  bottom: 400px;
  box-sizing: border-box;
  background: rgb(27,27,27,0.5);
  color:white;
  transition: 0.5s;
  
}

.container .card .intro h2{
 
  margin: 10px;
  font-size: 35px;
 color: white;
 
}

.container .card .intro p{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  

}
.container .card .intro p span{
  font-weight: bold;
}
.container .card:hover{
  cursor: pointer;
}

.container .card:hover .intro{
  height: 300px;
  bottom:160px;
  background:rgba(80,13,116,0.7);
transition: 0.5s;
}
.container .card:hover p{
  opacity: 1;
  visibility: visible;
}

.container .card:hover img{
  transform: scale(1.1);
}
.container .card .intro p button{
    background-color: black;
    color:white;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px black;
  
}
.container .card .intro p button:hover{
  scale: 1.1;
}
.moving .fa-angle-up{
  color:white;
}




/* dark mode*/
[data-theme="dark"] {

  --text-color: #ffffff;
  --card-bg:#1c1c1c ;
}
.sidebar .form-ckeck{
  margin: 20px;
}

 .form-check-input{
  background-color: rgb(244, 244, 244);
  background-position: left center;
  background-repeat: no-repeat;
  transition: background-color 0.3s;
 }
 .form-check-input:checked{
  background-color: var(--main-color);
  border-color: black;
  color: black;
 }
  .arabic.form-check-input:checked{
  background-color: var(--main-color);
  border-color: black;
  color:black;
 }
 html[dir="rtl"].form-check-input{
  background-position: right center;

 }
  html[dir="ltr"].form-check-input{
  background-position: left center;
 }


.dark-mode body{
  background-color: #1c1c1c ;
  color: white;
  transition: all 0.3s ease;
  

}

.dark-mode .container {
  background-color: #1c1c1c;
   
}



.dark-mode #header .container ,.dark-mode #header .container nav,.dark-mode #header div,.dark-mode .sidebar{
  background-color: rgb(22, 0, 29);

}
.dark-mode .about-us,.dark-mode footer,.dark-mode footer .container a {
  color: white;
}
.dark-mode .category-item p a:hover{
  color: #500d74;
}


.dark-mode section.entertanments ,.dark-mode section .culture,.dark-mode section .sport,.dark-mode section .educational,.dark-mode section .english,.dark-mode section .catigories{
background-color: #1c1c1c;

}



.dark-mode .space{
  height: 5px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-color:#2c2c3a;
}

.dark-mode section.english,.dark-mode section.arabic{
  background-color: #1c1c1c;
  color: #1c1c1c;
  margin: 0px;
}
.dark-mode .sidebar li a{
  color: white;
}
.dark-mode header ul li a{
  color: white;
}


